body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(./assets/popupFonts.woff2);
}


/* Popup */
.site-popup {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.836);
    padding: 0px 20px;
    margin: 10px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    font-family: JetBrainsMono, sans-serif;
    font-size: 0.8rem;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* easeOutQuart */
    transform: translateX(-500px);
}

.site-popup p {
    color: white;
}

.site-popup button {
    background-color: transparent;
    border: none;
    scale: 1.2;
    margin: 0 0 0 10px;
    padding: 0;
}

.site-popup button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.site-popup i {
    color: white;
}

.activated {
    transform: translateX(0px) !important;
}

/* Popup */

/* Your code here */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inpAnim {
    position: relative;
    outline: none;
    background-color: #ffffff17;
    border: none;
    color: white;
    padding: 6px 8px;
}

.inpAnim::placeholder {
    color: rgba(255, 255, 255, 0.315);
}

.inpAnim::before {
    content: "abc";
    color: white;
}

.btnAnim {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #ffffff2c;
    padding: 5px 10px;
    margin: 2px 2px;
    cursor: pointer;
    border: none;
    transition: 0.1s;
}

.btnAnim:active {
    opacity: 0.5;
}

.btnAnim::before {
    content: "";
    background-color: #ffffff1f;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    transition: 300ms;
}

.btnAnim:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.btnAnim:disabled {
    opacity: 0.5;
}

.input-div {
    position: relative;
    display: inline-block;
}

.input-div::after {
    position: absolute;
    top: var(--t, 0);
    left: var(--l, 0);
    right: var(--r, 0);
    content: "";
    background-color: white;
    width: var(--wid, 0%);
    height: 100%;
    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    /* easeOutQuint */
}