.rubik-fonts {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quint {
    transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    /* easeInOutQuint */
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.age {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 250px;
    height: 250px;
    display: flex;
    overflow: hidden;
    border-radius: 1000px;
    font-weight: 300;
    animation: zoom-out 1.5s 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
    z-index: 3;
}

.age p {
    margin: 0;
    padding: 0;
    font-size: 10em;
    text-align: center;
    line-height: 250px;
    position: absolute;
}

.ageL {
    width: 50%;
    left: 5%;
    animation: hue 5s 1s linear infinite, turn_color 1.5s 1s linear forwards;
}

.ageR {
    width: 50%;
    left: 38%;
    animation: move_up 1.5s 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards, hue 5s 1s linear infinite;
}

.hpbd {
    position: absolute;
    top: -20%;
    left: 50%;
    font-size: 1.3em;
    text-align: center;
    transform: translateX(-50%);
    animation: down 2s 2s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.hpbdsub {
    position: absolute;
    top: 120%;
    left: 50%;
    font-size: 1.3em;
    text-align: center;
    transform: translateX(-50%);
    animation: up 2s 2s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.nametext {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -50%;
    height: 25px;
    font-size: 1.3em;
    line-height: 28px;
    transform: translate(-50%);
    text-align: center;
    color: transparent;
    animation: downname 2s 2s forwards cubic-bezier(0.230, 1.000, 0.320, 1.000), hue 5s 1s linear infinite;
}


#changename {
    margin: 0;
    animation: changename 7s 5s infinite cubic-bezier(0.230, 1.000, 0.320, 1.000);
    background-image: linear-gradient(to left, #ff7fb4, #967eff);
    background-clip: text;
    -webkit-background-clip: text;
}

#confetti-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#confetti-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cb {
    background-color: #A0DEFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    width: 100px;
    height: 100px;
    z-index: 1;
    animation: zoom 2s 1.8s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
}

.cbg {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    width: 100px;
    height: 100px;
    z-index: 2;
    animation: zoom 2s 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
}

#background-canvas {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    transition: 5s;
    z-index: -1;
}

.progress {
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    animation: progressrun 4s 2s linear forwards;
    transition: 2s;
}

.loadingg {
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 10px;
    opacity: 0;
    transition: 1s;
}

/* Keyframes */

@keyframes progressrun {
    to {
        width: 100%;
    }
}

@keyframes zoom {
    50% {
        transform: translate(-50%, -50%) rotate(45deg) scale(2);
    }

    100% {
        display: none;
    }
}

@keyframes changename {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(-58px);
    }

    75% {
        transform: translateY(-86px);
    }

    100% {
        transform: translateY(-115px);
    }
}

@keyframes down {
    to {
        top: 10%;
    }
}

@keyframes downname {
    to {
        top: 18%;
    }
}

@keyframes up {
    to {
        top: 80%;
    }
}

@keyframes zoom-out {
    to {
        transform: scale(0.6) translate(-84%, -84%);
    }
}

@keyframes move_up {
    to {
        transform: translateY(-250px);
        color: #ff6ca9;
    }
}

@keyframes turn_color {
    to {
        color: #ff6ca9;
    }
}

@keyframes hue {
    to {
        filter: hue-rotate(360deg);
    }
}